@media (prefers-color-scheme: dark){
  .warning{
    background-color: rgb(114, 114, 7);
    padding: 10px;
  }
}

@media (prefers-color-scheme: light){
  .warning{
    background-color: rgb(231, 231, 102);
    padding: 10px;
  }
}
